<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>首页</h1>
    <h3 id="h3">欢迎您: <%= username %></h3>
    <a href="http://127.0.0.1:5000/detail">详情页</a>
    <!-- <h3 id="h3">欢迎您: zs</h3> -->
  </body>
</html>
